@font-face {
  font-family: Adreena;
  src: url(AdreenaScript-Demo.otf);
}

.linkPointer {
  cursor: pointer;
}

.shopName{
  font-family: Adreena;
  font-size: 1.5rem;
}

.productBox{
  height: 90vh;
  border: 1px black solid;
  border-radius: 5px;
}
