@font-face {
  font-family: Adreena;
  src: url(AdreenaScript-Demo.otf);
}

@font-face{
  font-family: WorkSans;
  src: url(WorkSans-Regular.ttf);
}

@font-face {
  font-family: WorkSansBold;
  src: url(WorkSans-SemiBold.ttf);
}

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: WorkSans;
}

.fade-in {
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.header{
  background-image: linear-gradient(rgba(218, 248, 248, 1), rgba(255,255,255,.2));
  z-index: 1;
}

.modal-box{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
  top: 0;
  right: 0;
  justify-content: center;
}

.inner-modal{
  position: absolute;
  max-width: 350px;
  text-align: center;
  top: 15%;
  border: 1px solid black;
  border-radius: 10px;
}

.link-pointer {
  cursor: pointer;
}

.shop-name{
  font-family: Adreena;
  font-size: 1.5rem;
}

.item-name{
  font-family: WorkSansBold;
  font-size: 1.45rem;
}

.modal-item-name {
  font-family: WorkSansBold;
}

.warning {
  font-style: oblique;
  color: red;
}

.quantity-box{
  width: fit-content;
}

.quantity-number{
  font-size: larger;
}

@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}
